// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$btn-background: rgb(255, 255, 255);
$btn-border: rgb(255, 255, 255);
$card-background-1: rgb(227, 136, 38);
$card-background-2: rgb(0, 105, 112);
$card-background-3: rgb(0, 66, 65);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgba(255, 255, 255, 0.75);
$word-color-3: rgb(227, 136, 38);
$word-color-4: rgb(0, 105, 112);
$word-color-5: rgb(0, 66, 65);